:root {
    --rosa_claro: #fe5cf5;
    --azul-escuro: #000041;
    --azul_claro: #2710f2;
    --azul_bebe: #b7d5e5;
    --cor_branco: #ffffff;
    --rosa_bebe: #ffccff;
    --cinza: #dddddd;
}

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    background-image: url(/img/space-love.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Brush Script MT', cursive;
    color: var(--azul-escuro);
  }

header{
    height: 12%;
    width: 100%;
}

.navbar{
    height: 100%;
    width: 100%;
    background-color: var(--azul-escuro);
    box-shadow: 0px 0px 10px var(--azul_claro);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nome_logo p{
    color: var(--cor_branco);
    margin: 5px 0px;
}
.nome_logo{
    color: #fe5cf5;
}

.link_header{
    text-decoration: none;
    color: var(--cor_branco);
}
.link_header:hover {
    color: var(--rosa_claro);
    font-weight: 700;
    scale: 1.1;
}

.link_header img{
    width: 50px;
}

.link_header img:hover{
    scale: 1.1;
}



main{

    width: 65%;
    height: 88%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.centro{
    height: 95%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
    border-radius: 50px;

    background-image: radial-gradient(#fff, #c2c2f6);
    box-shadow: 0px 0px 25px 5px var(--rosa_claro);
}

#box_venda{
    width: 100%;
    max-height: 95%;
    gap: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    overflow-y: auto;
}

.venda{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 10px;
    padding: 5px;
    gap: 5px;

    background-color: var(--cor_branco);
}

.mini_box{
    width: 95%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: small;
}

span{
    color: var(--rosa_claro);
    font-weight: 600;
}
