:root {
    --rosa_claro: #fe5cf5;
    --azul-escuro: #000041;
    --azul_claro: #2710f2;
    --cor_branco: #ffffff;
    --rosa_bebe: #ffccff;
}

/*cor tema (rosa claro)*/

* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    border: none;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.navbar {
    padding: 16px;
    width: 100%;
    background-color: var(--azul-escuro);
    box-shadow: 0px 0px 10px var(--azul_claro);

    /*colocando como fixado no topo*/
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cabecalho {
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.cabecalho a {
    text-decoration: none;
}

.nome_logo {
    color: var(--rosa_claro);
    margin: 8px 0px 12px 0px;
    font-size: 28px;
}
.nome_logo>p {
    color: #ffffff;
    margin: 0px;
}

nav ul {

    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

nav ul li {
    color: #ffffff;
    margin: 0px 10px;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
    margin: 0px 6px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#ativo{
    color: #fe5cf5;
    font-weight: 600;
}


.ola_perfil {
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ola_perfil p {
    margin: 2px;
}

.img_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_nav img {
    width: 60px;
    margin-right: 24px;
    cursor: pointer;
}

.lista_opcoes {
    position: absolute;
    top: 100%;
    left: -30px; /* Alinha à esquerda */
    background-color: white;
    border: 1px solid #ccc; /* Borda da lista */
    border-radius: 5px;
    width: 130px;
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 10px; /* Espaçamento interno da lista */
    margin: 0; /* Remove margens padrão */
    
    display: none; /* Esconde a lista inicialmente */
}

.lista_opcoes li {
    margin: 5px 0; /* Espaçamento entre os itens da lista */
    text-align: center;
}

.lista_opcoes li a {
    text-decoration: none;
    color: #333; /* Cor do texto dos links */
}

.opcoes_perfil:hover .lista_opcoes {
    display: block; /* Mostra a lista ao passar o mouse sobre a imagem */
    
}

.lista_opcoes li a:hover{
    background-color: var(--rosa_claro);
    color: white;
}

.botao_menu {
    display: none;
}

header{
    width: 80%;
    background-image: radial-gradient( #eee, #fe5cf5);
    padding: 10px;
}

.header_bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 15px;
}

.header_esquerda{
    width: 60%;
}
.header_direita img{
    width:  100%;
}

.header_direita{
    width: 30%;

    
    display: flex;
    align-items: center;
    align-items: center;
}

.header_esquerda p{
    line-height: 24px;
}

.header_esquerda button{
    background-color: #fe5cf5;
    border: none;
    cursor: pointer;
    padding: 14px 70px;
    margin-bottom: 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s;
}
.header_esquerda button:hover{
    background-color: #a907a0;
   
}

.header_esquerda button a{
    text-decoration: none;
    color: black;
}


main{
    width:80%;
    display: flex;
    flex-direction: column;
    background-color: #fe5cf5;
    padding: 15px;
}







footer {
    width: 100%;
    background-color: var(--azul-escuro);
    color: #ffffff;
    padding: 25px 15px; 
    font-size: 14px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 20px;
}

.footer_left p {
    margin: 5px 0; 
    color: #bbbbbb;
}

.footer_right {
    display: flex;
    gap: 15px;
}

.footer_right a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_right a:hover {
    color: var(--rosa_claro);
}

.footer_right span {
    color: #bbbbbb;
}