@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT&family=Poppins:wght@400;600&display=swap');
:root {
    --rosa_claro: #fe5cf5;
    --azul-escuro: #000041;
    --azul_claro: #2710f2;
    --azul_bebe: #b7d5e5;
    --cor_branco: #ffffff;
    --rosa_bebe: #ffccff;
    --cinza: #dddddd;
}

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1, h2 {
    font-family: 'Brush Script MT', cursive;
    color: var(--azul-escuro);
  }

.navbar {
    padding: 15px;
    width: 100%;
    background-color: var(--azul-escuro);
    box-shadow: 0px 0px 10px var(--azul_claro);
    
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cabecalho {
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.cabecalho a {
    text-decoration: none;
}

.nome_logo {
    color: var(--rosa_claro);
    margin: 8px 0px 12px 0px;
    font-size: 28px;
}
.nome_logo>p {
    color: #ffffff;
    margin: 0px;
}

nav ul {

    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

nav ul li {
    color: #ffffff;
    margin: 0px 10px;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
    margin: 0px 6px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#ativo{
    color: #fe5cf5;
    font-weight: 600;
}


.ola_perfil {
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: medium;
    width: 16%;
}


.img_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_nav img {
    width: 60px;
    cursor: pointer;
}

.lista_opcoes {
    position: absolute;
    top: 100%;
    left: -30px; 
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 5px;
    width: 130px;
    list-style-type: none; 
    padding: 10px;
    margin: 0;
    
    display: none; 
}

.lista_opcoes li {
    margin: 5px 0; 
    text-align: center;
}

.lista_opcoes li a {
    text-decoration: none;
    color: #333; 
}

.opcoes_perfil:hover .lista_opcoes {
    display: block; 
    
}

.lista_opcoes li a:hover{
    background-color: var(--rosa_claro);
    color: white;
}

#area_adm{
    display: none;
}

.botao_menu {
    display: none;
}

header{
    width: 80%;
    background-image: radial-gradient( #eee, #fe5cf5);
    padding: 10px;
}

.header_bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 15px;
}

.header_esquerda{
    width: 60%;
    
}


.header_esquerda p {
    margin-bottom: 20px; 
    margin-top: 20px;
}
.header_direita img{
    width:  100%;
}

.header_direita{
    width: 30%;

    
    display: flex;
    align-items: center;
    align-items: center;
}

.header_esquerda p{
    line-height: 24px;
}

.header_esquerda button{
    background-color: #fe5cf5;
    border: none;
    cursor: pointer;
    padding: 14px 70px;
    margin-bottom: 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s;
}
.header_esquerda button:hover{
    background-color: #a907a0;
   
}

.header_esquerda button a{
    text-decoration: none;
    color: black;
}


main{
    width:80%;
    display: flex;
    flex-direction: column;
    background-color: #fe5cf5;
}

.home_departamentos {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--rosa_bebe);
    
    
}
.home_departamentos a{
  color: var(--azul-escuro);
}
#imgs_departamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.home_departamentos h1{
    color: var(--azul-escuro);
    margin-top: 20px;
}

#imgs_departamento img{
    border-radius: 100%;
    width: 220px;
    height: 220px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
    animation: flutuar 2s ease-in-out infinite;
    object-fit: cover;
}

@keyframes flutuar {
    0% { 
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.home_produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 0px;
    color: var(--azul-escuro)
}

.ver_mais {
    margin: 10px;
    text-decoration: none;
    color: var(--azul-escuro);
    transition: color 0.3s ease;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 600;
}
  
.ver_mais:hover {
    color: #0056b3;
  }

footer {
    width: 100%;
    background-color: var(--azul-escuro);
    color: #ffffff;
    padding: 25px 15px; 
    font-size: 14px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 20px;
}

.footer_left p {
    margin: 5px 0; 
    color: #bbbbbb;
}

.footer_right {
    display: flex;
    gap: 15px;
}

.footer_right a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_right a:hover {
    color: var(--rosa_claro);
}

.footer_right span {
    color: #bbbbbb;
}