/*Media Queries*/
@media  (max-width: 800px){
    .logo{
        font-size: 25px;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 54px;

    }

    nav{
        position: absolute;
        background-color: #000041;
        width: 100%;
        top: 60px;
        display: none;
    }

    .show-menu nav{
        display: block;

    }

    .menu-button{
        display: block;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 14px;
    }

    .header-bottom-side-left h2{
        font-size: 40px
    }

    .header-bottom-side-right img{
        height: 80%;
    }

};