:root {
    --rosa_claro: #fe5cf5;
    --azul-escuro: #000041;
    --azul_claro: #2710f2;
    --azul_bebe: #b7d5e5;
    --cor_branco: #ffffff;
    --rosa_bebe: #ffccff;
    --cinza: #dddddd;
}

*{
    border: none;
    padding: none;
    margin: none;

    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}


header{
    height: 12%;
    width: 100%;
}

.navbar{
    height: 100%;
    width: 100%;
    background-color: var(--azul-escuro);
    box-shadow: 0px 0px 10px var(--azul_claro);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nome_logo p{
    color: var(--cor_branco);
    margin: 5px 0px;
}
.nome_logo{
    color: #fe5cf5;
}

.link_header{
    text-decoration: none;
    color: var(--cor_branco);
}
.link_header:hover {
    color: var(--rosa_claro);
    font-weight: 700;
}

.ir_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    font-size:x-large ;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.ir_cadastro:hover{
    transform: translateY(-4px);
    font-weight: 600;
    color: #fe5cf5;
}

main{
    width: 90%;
    padding: 50px;

    display: flex;
    flex-direction: column;

    
    
}

.topico{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 25px;
}

.titulo{
    font-size: x-large;
    margin-bottom: 12px;
}

.descricao{
    margin-bottom: 15px;
}



.btn_voltar{
    text-decoration: none;

    width: 30%;
    text-align: center;
    background-color: #ffffff;
    color: #fe5cf5;
    border: 2px solid #ffccff;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
    margin-bottom: 20px;
}

.btn_voltar:hover{
    background-color: #fe5cf5;
    color: #ffffff;
    font-weight: 700;
    border: 3px #fe5cf5;
}

@media (max-width: 800px) {

    header{
        height: 12vh;
    }

    .nome_logo{
        font-size: large;
    }

    .ir_cadastro{
        font-size: x-large;
    }

   main{
    width: 100%;
    padding: 20px;
   }

   .btn_voltar{
    width: 80%;
    font-size: medium;
    padding: 8px 10px;
   }
}